.ion-color-tbpink {
  --ion-color-base: var(--ion-color-tbpink);
  --ion-color-base-rgb: var(--ion-color-tbpink-rgb);
  --ion-color-contrast: var(--ion-color-tbpink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tbpink-contrast-rgb);
  --ion-color-shade: var(--ion-color-tbpink-shade);
  --ion-color-tint: var(--ion-color-tbpink-tint);
}

.ion-color-tbwhite {
  --ion-color-base: var(--ion-color-tbwhite);
  --ion-color-base-rgb: var(--ion-color-tbwhite-rgb);
  --ion-color-contrast: var(--ion-color-tbwhite-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tbwhite-contrast-rgb);
  --ion-color-shade: var(--ion-color-tbwhite-shade);
  --ion-color-tint: var(--ion-color-tbwhite-tint);
}
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* Certifique-se de que as partículas fiquem no fundo */
}

.background {
  position: relative;
  overflow: hidden;
}

.particles-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2; /* Ensure particles are behind other content */
}

.login-container {
  position: relative;
  z-index: 1; /* Ensure login form is above the particles */
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Optional: Add a semi-transparent background to the form for better readability */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  opacity: 0.9;
}

.logoimg {
  margin-bottom: 20px;
}
.mySwiper {
  position: relative;
  z-index: 1; /* Certifique-se de que o Swiper fique acima das partículas */
}

.ion-color-tbpurple {
  --ion-color-base: var(--ion-color-tbpurple);
  --ion-color-base-rgb: var(--ion-color-tbpurple-rgb);
  --ion-color-contrast: var(--ion-color-tbpurple-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tbpurple-contrast-rgb);
  --ion-color-shade: var(--ion-color-tbpurple-shade);
  --ion-color-tint: var(--ion-color-tbpurple-tint);
}
body {
  --ion-background-color: #d30000;
  font-family: inter, sans-serif;
}

.logoimg {
  fill: red !important;
}

.background {
  background-color: #ffffff;
  color: #ffffff;
}

.sc-ion-input-md-h {
  --highlight-color-focused: #50c8ff;
  --highlight-color-valid: var(--ion-color-success, #2dd36f);
  --highlight-color-invalid: var(--ion-color-danger, #d30000);
  --highlight-color: var(--highlight-color-focused);
  --transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave para borda e sombra */
}

.input-fill-outline.sc-ion-input-md-h {
  --border-color: #b06ed3;
  --border-radius: 4px;
  --padding-start: 16px;
  --padding-end: 16px;
  --transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave para borda e sombra */
}
.input-fill-outline.sc-ion-input-md-h:hover {
  --border-color: #b06ed3;
  --border-radius: 4px;
  --padding-start: 16px;
  --padding-end: 16px;
  --transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave para borda e sombra */
  --box-shadow: 0 2px 8px rgba(0, 140, 255, 0.2); /* Sombra suave ao passar o mouse */
}

.sc-ion-input-md-h:hover {
  --highlight-color-focused: #50c8ff;
  --highlight-color-valid: var(--ion-color-success, #2dd36f);
  --highlight-color-invalid: var(--ion-color-danger, #d30000);
  --highlight-color: var(--highlight-color-focused);
  --transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave para borda e sombra */
  --box-shadow: 0 2px 8px rgba(0, 140, 255, 0.2); /* Sombra suave ao passar o mouse */
}
