.login-container {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Cor de fundo semi-transparente */
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Box shadow mais pronunciado */
  padding: 20px;
  max-width: 400px;
  width: 90%;
  margin: auto;
  backdrop-filter: blur(10px); /* Efeito de vidro */

  transform: translateY(30vw);
}

.input-field {
  margin-bottom: 15px;
  color: var(--ion-color-primary);
  border-color: var(--ion-color-primary);
}

.input-fill-outline.sc-ion-input-md-h {
  --border-color: var(--ion-color-tborchidpink);
  --border-radius: 4px;
  --padding-start: 16px;
  --padding-end: 16px;
  min-height: 56px;
  color: var(--ion-color-primary);
}

.submit-button {
  margin-top: 20px;
}

.register-container {
  margin-top: 20px;
  color: var(--ion-color-primary);
}

.or-divider {
  margin: 20px 0;
}

.google-login-button {
  margin-top: 20px;
}

.terms-text {
  margin-top: 20px;
  font-size: 12px;
  color: var(--ion-color-primary);
}

.background {
  --background: #fff;
}
