.profile-header {
  text-align: center;
  padding: 20px;
  background: radial-gradient(
    circle,
    rgba(242, 186, 201, 1) 10%,
    rgba(199, 108, 133, 1) 68%,
    rgb(255, 255, 255) 200%
  );
  border: solid 10px;
  border-color: rgba(242, 186, 201, 1);
  border-radius: 16px;
}

.profile-avatar {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  border: 3.5px solid rgb(252, 252, 252);
  margin: 0 auto;
}

.user-name {
  font-size: 16px;
  color: white;
  margin-top: 10px;
}

.user-rating ion-icon {
  color: #f5c620;
}

.list-title {
  font-size: 18px;
  color: rgb(230, 230, 230);
  text-align: center;
  margin: 20px 0;
  font-weight: 700;
  border: solid 0.2px;
  border-color: rgb(230, 230, 230);
  border-radius: 16px;
}

.game-list {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
}

.game-list img {
  width: 88px;
  height: 85px;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper-container {
  width: 100%;
  height: 100%;
  font-weight: 700;
}

.colunapop {
  margin-top: 16px;
  margin-bottom: 8px;
  border: solid 0.2px;
  border-color: rgb(230, 230, 230);
  border-radius: 16px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: 600;
}

.swiper-slide-content img {
  width: 100px; /* Adjust as needed */
  height: auto;
  border-radius: 10px;
}

.swiper-slide-content p {
  color: white;
  margin-top: 10px;
}