.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffff;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 200px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .mySwiper{
    color: aqua;
  }

  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    color: blueviolet;
}

.swiper-pagination-bullet {

    background-color: #b06ed3;
}