.custom-tab-bar {
  --border: none;
  --background: #f4f4f4 !important;
  --color-selected: #f2bac9;
  --color: #ffffff;
  --color-tab-selected: #ffeb3b;
  --color-tab-unselected: #ffffff;
}

.custom-tab-bar ion-tab-button {
  --background: transparent;
  transition: background 0.3s ease, transform 0.3s ease;
}

.custom-tab-bar ion-tab-button:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.custom-tab-bar ion-tab-button.ion-tab-button-tab-selected {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: var(--color-selected);
}

.custom-tab-bar ion-icon,
.custom-tab-bar ion-label {
  transition: color 0.3s ease;
}

.custom-tab-bar ion-tab-button.ion-tab-button-tab-selected ion-icon,
.custom-tab-bar ion-tab-button.ion-tab-button-tab-selected ion-label {
  color: var(--color-selected);
}
