ion-searchbar ion-icon {
  color: #f2bac9 !important;
  --placeholder-color: #f2bac9 !important;
}

ion-searchbar {
  --placeholder-color: #f2bac9 !important;
}

.contention {
  background-color: #1d3557;
}

.toolbar {
  position: relative;
}

.pesquisa-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.pesquisa {
  flex: 1;
  max-width: 0;
  opacity: 0;
  flex-grow: 10;
  transition: max-width 0.5s ease-in-out, opacity 0.1s ease-in-out;
  overflow: hidden;
  color: #f2bac9 !important;
  background-color: var(--ion-color-tbhoneydew);
}

.pesquisa.visible {
  max-width: 100%;
  opacity: 1;
  display: block;
}

.icons-container {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}

.icons-container.hidden {
  display: none;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-icon {
  font-size: 1.5em; /* Ajuste o tamanho conforme necessário */
  color: #f2bac9;
  margin-right: 16px;
  display: flex;
  align-items: center;
  flex: 2;
  justify-content: flex-start; /* Espaçamento entre o ícone e o toggle */
}
