/* No arquivo global.css ou em seu arquivo de estilo específico */
.radio-visible .radio-icon {
  border: 50px solid var(--ion-color-tbpink); /* ajuste a cor conforme sua paleta */
  background: var(--ion-color-light); /* fundo mais claro para contraste */
}

.radio-visible .radio-icon::after {
  background-color: var(--ion-color-tbpink); /* Cor do indicador interno */
}

ion-radio {
  --color: var(--ion-color-tbpink); /* Cor da bolinha quando selecionada */
  --color-checked: var(
    --ion-color-tbpink
  ); /* Cor da bolinha quando não selecionada */
  --border-color: var(--ion-color-tbpink); /* Cor da borda da bolinha */
  --background-checked: var(
    --ion-color-tbpink
  ); /* Background da bolinha quando selecionada */
  --background: var(
    --ion-color-light
  ); /* Background da bolinha quando não selecionada */
}

.radio-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-input {
  --background: primary; /* Cor de fundo do input */
  --placeholder-color: grey; /* Cor do placeholder */
  --color: black; /* Cor do texto do input */
  --border-color: #dcdcdc; /* Cor da borda normal */
  --border-style: solid; /* Estilo da borda */
  --border-width: 1px; /* Largura da borda */
  transition: border-color 0.3s, box-shadow 0.3s; /* Transição suave para borda e sombra */
}

.custom-input:hover {
  --border-color: deepskyblue; /* Cor da borda no hover */
  box-shadow: 0 2px 8px rgba(0, 140, 255, 0.2); /* Sombra suave ao passar o mouse */
}

.bordagen{
  border: solid #b06ed3;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  border-width: 0.5px;
}
